<!DOCTYPE html>
<html>
  <head>

    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="/stylesheets/toggle2.css"> -->
  </head>
  <body>
    <div align="center">
    <header>
      <% include ../partials/header %>
    </header>

    <div class="posts">
      <% include partials/top%>
        <image src="/images/banner_main.png">
      <video width="320" height="214" controls="controls" class="video-js vjs-default-skin" data-setup="{}">
        <source src="/videos/sample.mp4" type="video/mp4" />
      </video>
      <!-- main start -->
        <!-- views/posts/index.ejs -->
        <div class="index">
          <!-- list table -->
          <table class="style">
            <thead>
              <th>TITLE</th>
              <th>CREATE DATE</th>
            </thead>
            <tbody>
            <% data.forEach(function(e){ %>
              <tr>
                <th>
                  <a href="/posts/<%=e._id %>"> <%= e.title %></a>
                </th>
                <td>
                  <%= e.createdAt.toLocaleDateString() %>
                </td>
              </tr>
            <% }) %>
            <!-- new button -->
            <tr>
              <td>
              </td>
              <td align="right">
                <a href="/posts/setting"><button>Setting</button></a>
                <a href="/posts/new"><button>New</button></a>
              </td>
            </tr> <!-- new button end -->
            <!-- toggle test -->
            <!-- <tr>
              <th>
              </th>
              <td>
		              <div class="toggle toggle--daynight">
			                 <input type="checkbox" id="toggle--daynight" class="toggle--checkbox">
			                 <label class="toggle--btn" for="toggle--daynight"><span class="toggle--feature"></span></label>
		              </div>
                </td>
              </tr> -->
               <!-- toggle test end -->
            </tbody>
          </table>
        </div>
      <!-- </div> -->
        <!-- main end -->
    </div> <!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div> <!-- container end -->
  </body>
</html>
