<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <% include ../partials/head %>
  </head>
  <body>
    <div align="center">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top%>
      <image src="/images/banner_list.png">
      <!-- main start -->
      <div class="new">
        <table class="table">
          <thead>
            <tr>
              <th>New Media Save</th>
              <th>insert...</th>
            </tr>
          </thead>
          <tbody>
            <form class="posts_form" action="/posts/list" method="post">
            <tr>
              <th>TITLE</th>
              <td><input type="text" name="item[title]" value=""></td>
            </tr>
            <tr>
              <th>PATH</th>
              <td><input type="text" name="item[path]" value="/videos/"></td>
            </tr>
            <tr>
              <td><button type="submit">Submit</button></td>
              </form>
              <td align="right"><a href="/posts/list"><button>Back</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- main end -->
    </div> <!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
  </body>
</html>
