<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script type="text/javascript">

function getValue(){
  var sh = document.getElementById("itemList");
  var id = sh.options[sh.selectedIndex].value;
  return id;
}

 $(document).ready(function(){
   $("form").submit(function() {
    //  $(this).attr('action', )
    var uri = String(getValue());
    var act = "/posts/list/" + uri;
    $("form").attr('action', act);
     return true;
   });
 });
</script>

<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <!-- <link rel="stylesheet" href="/stylesheets/toggle2.css"> -->
  </head>
  <body>
    <div align="center">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top%>
      <image src="/images/banner_list.png">
      <!-- main start -->
        <!-- views/posts/index.ejs -->
        <div class="index">
          <!-- list table -->
          <table class="table">
            <thead>
              <th>KIND</th>
              <th>SELECT ITEM</th>
            </thead>
            <tbody>
              <form action="/posts/list" method="get" style="display:none">
              <tr>
                <th>
                  VIDEO LIST
                </th>
                <td>
                  <select id="itemList" name="itemList">
                    <% data.forEach(function(e){ %>
                      <option value="<%=e._id%>"> <%=e.title%> : <%= e.createdAt.toLocaleDateString() %></option>
                    <% }) %>
                  </select>
                </td>
              </tr>
            <!-- new button -->
            <tr>
              <td>
                <button type="submit">Select</button>
              </td>
              </form>
              <td align="right">
                <a href="/posts/item/"><button>Save</button></a>
                <a href="javascript:history.back()"><button>Back</button></a>
              </td>
            </tr> <!-- new button end -->
            </tbody>

          </table>
        </div>
      <!-- </div> -->
        <!-- main end -->
    </div> <!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div> <!-- container end -->
  </body>
</html>
