<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/body.css">
    <% include ../partials/head %>
  </head>
  <body>
    <div align="center">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top%>
      <!-- main start -->
      <div class="new">
        <table class="style">
          <thead>
            <tr>
              <th>New Post</th>
              <th>Insert ...</th>
            </tr>
          </thead>
          <tbody>
            <form class="posts_form" action="/posts" method="post">
            <tr>
              <th>TITLE</th>
              <td><input type="text" name="post[title]" value=""></td>
            </tr>
           <tr>
             <th>Body</th>
             <td><input type="text" name="post[body]" value=""></td>
           </tr>
           <tr>
             <td><button type="submit">Submit</button></td>
             </form>
             <td align="right">
               <a href="/posts"><button>Back</button></a>
             </td>
           </tr>
         </tbody>
       </table>
      </div>
      <!-- main end -->
    </div> <!-- posts end -->

    <footer>
      <% include ../partials/footer %>
    </footer>
    </div>
  </body>
</html>
