<!-- views/partials/header.ejs -->
<!-- <link rel="stylesheet" href="/stylesheets/table.css"> -->
<table border="0" background="/images/title.png">
  <tr>
    <td>
      <h1>&nbsp;Smart - Guardian&nbsp;</h1>
    </td>
  </tr>
</table>
<HR width="100%" align="left" style="color:red; background-color:red; height:1px; border:none" />
<!-- <div class="center"> -->
<!-- <table class="style"> -->
<!-- <table class="table" style="text-align: center;"> -->
<table class="table">
  <tr>
    <th style="text-align:center"> <a href="/posts"> MAIN </a> </th>
    <th style="text-align:center"> <a href="/posts/list"> LIST </a> </th>
    <th style="text-align:center"> <a href="/posts/setting"> SETTING </a> </th>
  </tr>
</table>

<!-- </div> -->
<HR width="100%" align="left" style="color:red; background-color:red; height:1px; border:none" />
