<!-- views/partials/header.ejs -->
<!-- <link rel="stylesheet" href="/stylesheets/table.css"> -->
<h1> Smart - Guardian </h1>
<HR width="100%" align="left" style="color:red; background-color:red; height:1px; border:none" />
<!-- <div class="center"> -->
<!-- <table class="style"> -->
<table class="style2">
  <tr>
    <th> <a href="/posts"> MAIN </a> </th>
    <th> <a href="/posts/list"> LIST </a> </th>
    <th> <a href="/posts/setting"> SETTING </a> </th>
  </tr>
</table>
<!-- </div> -->
<HR width="100%" align="left" style="color:red; background-color:red; height:1px; border:none" />
